apistar==0.3.9
asyncio-redis==0.14.3
certifi==2017.7.27.1
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
Django==1.11.29
greenlet==0.4.12
gunicorn==19.7.1
httptools==0.0.9
idna==2.6
itypes==1.1.0
Jinja2==2.9.6
MarkupSafe==1.0
meinheld==0.6.1
psycopg2==2.7.3.1
py==1.4.34
pytest==3.2.3
pytz==2017.2
requests==2.18.4
SQLAlchemy==1.1.14
uritemplate==3.0.0
urllib3==1.22
uvicorn==0.0.15
uvitools==0.0.4
uvloop==0.8.1
websockets==3.4
Werkzeug==0.12.2
wheel==0.24.0
whitenoise==3.3.1
